* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.emoji {
    display: inline-block;
    font-size: 6vmin;
    position: relative;
    z-index: 2;
}

body {
    min-width: 100%;
    min-height: max-content;
    border:  2px solid red;
}
.zoo img {
    display: inline-block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.score {
    position: fixed;
    top: 3vh;
    right: 2vw;
    font-size: 4vw;
    z-index: 3;
}

.score .value {
    color: red;
}
